[
{
    "link": "https://hikoco.co.nz/collections/benton/products/centella-cica-gel",
    "name": "Centella Cica Gel",
    "price": "$25.00",
    "ingredients": "Centella Asiatica Extract, Aqua (Water), Glycerin, Pentylene Glycol, Arginine, Ammonium Acryloyldimethyltaurate/VP"
  },
  {
    "link": "https://hikoco.co.nz/collections/benton/products/beer-yeast-shampoo",
    "name": "Beer Yeast Shampoo",
    "price": "$36.00",
    "ingredients": "Aqua (Water), Saccharomyces Cerevisiae Extract, Disodium Laureth Sulfosuccinate, Cocamidopropyl Hydroxysultaine,Lauryl Glucoside, Cocamide MIA, Sodium Cocoyl Isethionate,Lactobacillus/Houttuynia Cordata/Perilla Frutescens/CamelliaSinensis) Leaf Ferment Filtrate,Butylene Glycol, Sodium Chloride,Dipropylene Glycol, Polyquaternium-10, 1,2-Hexanediol, Glycerin,Propolis Extract, Glycine Max (Soybean) Seed,Extract, Malt Extract,Phellodendron Amurense Bark Extract, Dipotassium Glycyrrhizate,Biotin, Camellia SinensisLeaf Extract, Houttuynia Cordata Extract,Perilla Frutescens Leaf Extract, Avena Sativa (Oat) Kernel Extract, Hydroxyacetophenone, Caffeine, Menthol, Caprylyl Glycol, Panthenol, Salicylic Acid, Coconut Acid, Citric Acid, Niacinamide, Sodium Isethionate, Ethylhexylglycerin, Sodium Gluconate, Arginine, Parfum (Fragrance)"
  }
]
